*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3) ) , url(./horizonte.png);
    /* Ajusta a imagem para cobrir todo o elemento */
    background-size: cover;

    /* Centraliza a imagem */
    background-position: center;

    /* Evita repetição da imagem */
    background-repeat: no-repeat;

}