* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');



.Main {
    background-color: rgba(173, 171, 171, 0.973);
    display: flex;
    flex-flow: row wrap;
    max-width: 900px;
    height: 400px;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    justify-content: center;

}

.titulo {
    /*border: 2px dashed red;*/
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.citacao {
    /*border: 2px dashed rgb(0, 255, 55);*/
    box-shadow: 0px 0px 15px 2px rgb(228, 226, 226);
    font-family: "Playwrite RO", cursive;
    padding: 20px;


}

.botao {
    /* border: 2px dashed rgb(69, 54, 209);*/
    width: 100%;
    text-align: center;
}

button {
    margin-top: 10px;
    width: 100%;
}

@media(max-width:500px) {
    .Main{
        background-color: aquamarine;
        height: 40%;
        width: 40%;
    }
    .titulo{
        margin-top: 10px;
        font-size: 8px;
    }
}