* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, p, h2{
    color: white;
}
body {
    margin-top: 20px;
    max-height: 100vh;
    max-width: 120vw;
    border: 2px dashed rgb(71, 204, 18);
    margin-left: 20px;
    margin-right: 20px;
}

main {
    transition: 1s;
    border: 2px dashed red;
    padding: 10px;
    max-width: 1700px;
    height: 700px;
    margin: 10px;
    background-image: url(./horizonte.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    border: 2px dashed rgb(50, 7, 243);
    margin: auto;
    text-align: center;
}