#corpo{
    background-color: rgb(140, 169, 140);
    
}
.conteiner {
    width: 300px;
    height: 500px;
    background-color: lightgray;
    margin: auto;
    box-shadow: 0px 2px 16px rgb(141, 140, 140);
}

._label {

    display: flex;
    align-items: center;
    justify-content: center;
}

._label input {
    outline: none;
    border: none; 
    background-color: transparent;    

}

.sol {

    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.icon{
    width: 30%;
    height: 30%;
}
.temperatura {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.city {
    text-align: center;
    font-size: 40px;
}

.humidity_class img {

    width: 30px;
    height: 30px;
}

.humidity_class {
    border: 1px dashed rgb(181, 14, 14);
    display: flex;
    align-items: center;    
    justify-content: center;
    line-height: 1px;
    margin-right: 180px;
    margin-left: 10px;
}

.wind img {
    width: 30px;
    height: 30px;
}

.wind {
    border: 3px dashed yellow;
    margin-left: 200px;
    margin-top: -55px;
    display: flex;
    align-items: center;
    line-height: 1px;
}