.artigo00 {
    display: flex;
    flex-flow: column wrap;
    max-width: 1200px;
    margin: auto;
    padding: 30px 10px 10px 40px;
    box-shadow: 2px 2px 8px lightgray;

}


.artigo00 >p{
    color: black;
    font-family: monospace;
    font-size: 18px;
    text-indent: 2em;
    margin-top: 10px;
    margin-right: 10px;
    text-align: justify;
}