* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2 {
    color: white;
}

body {

    width: 100vw;
    background-color: rgb(233, 229, 229);

}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

main {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0.0.0.0)), url(../../img/satelite.png);
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: auto;
    padding: 30px 10px 10px 40px;
}

footer >p{
    text-align: center;
    color: rgb(160, 159, 159);
    
}