* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.info-variados {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 700px;
    height: 800px;
    overflow: hidden;

}

.info-variados h1{
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 1px 1px ;
}
.info-variados img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cnn {
    width: 500px;
    height: 350px;
    object-fit: cover;
    margin-top: 50px;

}
.Descricao_noticias p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-indent: 10px;
    margin-top: 30px;
    margin-right: 20px;
    text-align:justify;
}